/* Basic Setting */
body {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left 20%,
    left top,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

html,
body,
#root,
.App {
  background: $background_color;
  color: $text_color;
  font-size: $font_sizepx;
  height: 100%;
  font-weight: bold;
  overflow: hidden;
}

.chattingContainer {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: flex-end;
}

#log {
  bottom: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* 배경 반투명 그라데이션 */
}

#log > div.deleted {
  visibility: hidden;
}
#log .emote_wrap {
  position: relative;
}

#log .emote_wrap img.emoticon {
  height: ($font_size * 1.5) px;
  vertical-align: middle;
  margin: -5px 0;
}

#log .meta {
  box-sizing: border-box;
  width: fit-content;
  position: relative;
  top: 16px;
  left: 10px;
  background-color: #ffe5b4;
  border: #744e3d 4px;
  border-style: solid;
  border-radius: 9999px;
  padding: 3px 0.75rem 3px;
  box-shadow: 3px 3px 3px rgb(50, 50, 50);

  font-weight: bold;
  text-shadow: rgb(86, 58, 46) 2px 0px 0px,
    rgb(86, 58, 46) 1.75517px 0.958851px 0px,
    rgb(86, 58, 46) 1.0806px 1.68294px 0px,
    rgb(86, 58, 46) 0.141474px 1.99499px 0px,
    rgb(86, 58, 46) -0.832294px 1.81859px 0px,
    rgb(86, 58, 46) -1.60229px 1.19694px 0px,
    rgb(86, 58, 46) -1.97998px 0.28224px 0px,
    rgb(86, 58, 46) -1.87291px -0.701566px 0px,
    rgb(86, 58, 46) -1.30729px -1.5136px 0px,
    rgb(86, 58, 46) -0.421592px -1.95506px 0px,
    rgb(86, 58, 46) 0.567324px -1.91785px 0px,
    rgb(86, 58, 46) 1.41734px -1.41108px 0px,
    rgb(86, 58, 46) 1.92034px -0.558831px 0px;
}

#log > div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px;
  color: white;
  /* 나중에 바꿀 폰트 사이즈 */
  width: 90%;

  animation: fadeIn 0.8s ease, fadeOut 0.8s ease $message_hide_delays forwards;
}

.name {
  color: white;
}

.colon {
  display: none;
}

.message {
  border: #744e3d 8px;
  border-style: dashed double;
  border-radius: 7px;
  background-color: #e3bf7d;
  padding: 15px;
  box-shadow: 5px 5px 5px rgb(50, 50, 50);

  font-weight: bold;
  text-shadow: rgb(86, 58, 46) 2px 0px 0px,
    rgb(86, 58, 46) 1.75517px 0.958851px 0px,
    rgb(86, 58, 46) 1.0806px 1.68294px 0px,
    rgb(86, 58, 46) 0.141474px 1.99499px 0px,
    rgb(86, 58, 46) -0.832294px 1.81859px 0px,
    rgb(86, 58, 46) -1.60229px 1.19694px 0px,
    rgb(86, 58, 46) -1.97998px 0.28224px 0px,
    rgb(86, 58, 46) -1.87291px -0.701566px 0px,
    rgb(86, 58, 46) -1.30729px -1.5136px 0px,
    rgb(86, 58, 46) -0.421592px -1.95506px 0px,
    rgb(86, 58, 46) 0.567324px -1.91785px 0px,
    rgb(86, 58, 46) 1.41734px -1.41108px 0px,
    rgb(86, 58, 46) 1.92034px -0.558831px 0px;
}

.badge {
  height: $font_sizepx;
  margin-right: 3px;
}
